@import './../../../styles/mixins.scss';

.container {
  height: 456px;
  width: 100%;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: space-around;
  a {
    text-decoration: none;
  }
  &__subFooter {
    width: 100%;
    display: flex;
    flex-direction: column;
    align-items: center;
    &__nav {
      @include center();
      :first-child,
      :last-child {
        padding: 10px 15px 20px;
        margin: 10px 15px 20px;
      }
    }
  }
  &__widgets {
    margin: 20px 0;
    @include center();
    flex-wrap: wrap;

    & > a {
      margin: 10px 30px;
      min-width: 140px;
    }
  }
}
