.container {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: space-between;
  height: 60px;
  &__nav {
    &__item {
      text-decoration: none;
      padding: 10px;
      margin: 0 10px 10px;
    }
  }
}
