.container {
  display: flex;
  justify-content: space-between;
  border-radius: 24px;
  background-color: #272726;
  &__content {
    display: flex;
    flex-direction: column;
    padding: 40px 20px;
    &__fieldSet {
      display: flex;
      align-items: center;
      max-width: 550px;
    }
  }
}
.simpleInfoCard {
  .container__content {
    height: 148px;
  }
  img {
    border-radius: 0 24px 24px 0;
    opacity: 0.3;
  }
}
.textInfoCard {
  margin: 10px 0;
  .container__content {
    width: 100%;
  }
  &__row {
    display: flex;
    &__first {
      flex: 0.4;
    }
    &__second,
    &__third,
    &__forth {
      flex: 0.2;
    }
  }
}
